@using HelperDemo.Helpers
@model HelperDemo.Models.User
@{
    ViewBag.Title = "Index";
    Layout = null;
}



<h2>Index</h2>

@*@{ var form = Html.BeginForm(); }
    @{form.EndForm();}*@
@using (var form = Html.BeginForm())
{
    @Html.EditorForModel()
    @MyHelpers.SendButton("Send")
    @*@Html.DisplayNameFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        <br />
        @Html.DisplayNameFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age, htmlAttributes: new {type="number", step="0.01"})*@
    @*<label>
            User:
            @Html.TextBox("user")
        </label>
        <label>
            Male:
            @Html.CheckBox("male")
        </label>*@

} 
@*@HtmlHelpersExt.CurrentDate(Html)*@
@Html.CurrentDate()
